# python:
*.py[cod]
*$py.class
*.log
*.apk
*.zip
*.egg
*.pcap
*.egg-info/
dist/
build/
*/build/
*/__pycache__/

# c
*.so

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pid
*.pid